{% extends "base.html" %} {% block content %}
<main>
  <h1>Hi and welcome to my page</h1>
  <p>
    We're delighted to have you here! Explore our delicious bakes and treats.
  </p>
  <p>
    At Ethalle Bakes, we are passionate about creating mouthwatering desserts
    that bring joy to your taste buds. Whether you have a sweet tooth or just
    looking for a delightful treat, you're in the right place.
  </p>
  <p>
    Take a moment to browse through our menu and discover a variety of baked
    goods crafted with love and care.
  </p>
  <p>
    Thank you for choosing Ethalle Bakes. Enjoy your journey into the world of
    sweetness!
  </p>
  <p></p>

  <h2>Check out our items</h2>
  <div class="row">
    {% for bakery in bakery %}
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="{{ bakery.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ bakery.item }}</h5>
          <p class="card-text">${{ bakery.price }}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</main>

{% endblock %}
